<!-- Start Footer -->
<footer class="ampstart-footer flex flex-column items-center px3">
    <nav class="ampstart-footer-nav">
        <ul class="list-reset flex flex-wrap mb3">
            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="#">About</a>
            </li>
            <li class="px1">
                <a class="text-decoration-none ampstart-label" href="#">Contact</a>
            </li>
        </ul>
    </nav>
    <small> Ways To Be Sustainable, 2021 </small>

    <section class="jn13">
        <a href="#">
            <div>
                <amp-img
                        src="../img/black-logo-no-bck.svg"
                        width="300"
                        height="56"
                        layout="fixed"
                        alt="W.T.B.S - Ways To Be Sustainable"
                ></amp-img>
            </div>
        </a>
    </section>
</footer>
<!-- End Footer -->